* {
	margin: 0;
	padding: 0;
}

html,body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	color: #666;
	font: 75%/1.4 Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
}

#page {
	width: 100%;
	position: relative;
	margin: 0 auto;
	text-align: left;
	min-height: 100%;
}

* html #page {
	height: 100%;
}

#header {
	background: url(../images/bg_header.png);
	height: 91px;
}

#headerContent {
	width: 1140px;
	margin: 0 auto;
}

#access {
	float: right;
	font-weight: bold;
	text-shadow: 0 1px 1px #333;
	margin: 37px 0 0 0;
}

#access a {
	color: #fff;
	margin: 0 0 0 15px;
}

#access .login {
	text-decoration: none;
}

#access .register {
	text-decoration: none;
	background: url(../images/bg_btn2.png) no-repeat center;
	padding: 9px 18px;
	border-radius: 20px;
}

#searchForm {
	float: left;
	margin: 30px 0 0 40px;
}

#search {
	border-radius: 14px;
}

#searchForm .btn {
	background: url(../images/bg_btn.png) no-repeat;
	border: none;
	border-radius: none;
	box-shadow: none;
	color: #fff;
	font-weight: bold;
	text-shadow: 0 1px 1px #333;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 8px;
	padding-bottom: 8px;
}

#logo {
	background: url(../images/bg_logo.png) repeat-x;
	width: 240px;
	height: 91px;
	float: left;
}

#logotipo {
	text-indent: -9999px;
	background: url(../images/logo.png) no-repeat center;
	padding: 20px 0;
}

#feature {
	width: 1128px;
	height: 259px;
	padding: 6px;
	margin: 12px auto 0 auto;
	background: #1f1f1f;
	color: #fff;
}

#feature .thumb {
	width: 563px;
	float: left;
}

#contentFeature {
	float: left;
	width: 565px;
}

#contentFeature .feature {
	padding: 10px;
	font-weight: bold;
	text-shadow: 0 1px 1px #333;
	font-size: 18px;
	float: left;
	width: 545px;
	background: url(../images/bg_destaque.png) repeat-x;
}

#contentFeature .musics {
	margin: 15px 0 0 30px;
	float: left;
}

#contentFeature .musics p,#contentFeature .musics a {
	margin: 15px 0 0 30px;
	font-size: 20px;
	font-weight: bold;
}

#contentFeature .play {
	float: left;
	background: url(../images/ms_play.png) no-repeat;
	padding: 14px 0 14px 62px;
	color: #fff;
	text-decoration: none;
}

#content {
	width: 1140px;
	margin: 12px auto;
	padding-bottom: 60px;
	text-align: justify;
}

.content {
	border: 1px solid #ccc;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 100%;
}

.content .contentTitle {
	display: table;
	width: 100%;
}

.content .more {
	margin: 15px 28px;
	width: 150px;
	float: right;
	padding: 5px 0 0 0;
	font-size: 20px;
	font-weight: bold;
}

.content .more a {
	text-decoration: none;
	color: #1f1f1f;
}

.content .title {
	margin: 15px 27px;
	float: left;
	text-align: left;
	color: #1f1f1f;
	width: 60%;
}

.content .title img {
	float: left;
	margin: 0 10px 0 0;
}

.content .title h2,.content .title h3 {
	display: block;
	width: 80%;
	float: left;
	padding: 0;
	margin: 10px 0 0 0;
	line-height: 12px;
}

.content .title h2 {
	font-size: 20px;
}

.content .title h3 {
	font-size: 18px;
}

.content .title span {
	color: #1f1f1f;
}

.content .border {
	background: #e6e6e6;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	list-style: none;
	display: table;
	margin: 0;
	width: 100%;
	padding-bottom: 21px;
}

.content form {
	background: #e6e6e6;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	list-style: none;
	display: table;
	margin: 0;
	padding: 28px;
	width: 1084px;
}

.content .text {
	background: #e6e6e6;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	list-style: none;
	display: table;
	margin: 0;
	padding: 28px;
	width: 1084px;
}

.content .border li {
	margin-top: 21px;
	margin-left: 11px;
	float: left;
	width: 118px;
	border: 1px solid #D5C6C6;
	padding: 5px;
}

/*
.content .border li:hover {
	border-color: #000;
	color: #000;
}

*/

.content .border li img {
	margin: 0 0 10px 0;
	width: 118x;
	height: 118px;
}


.content .border li span {
	font-weight: bold;
	display: table;
}

.content .border li .titleMusic {
	font-size: 14px;
	text-align: left;
}

.content .border li .artist {
	font-size: 11px;
	font-weight: normal;
}

.content .border li .play{
	width:40px;
	height:40px;
	position:absolute;
	background: url(../images/ms_favicon.png);
	background-size: 40px;
	background-color: #FFF;
	margin-left: 75px;
	margin-top: 74px;
	border-radius:30px; 
	cursor: pointer;
	opacity:0.7;
}

.content .border li .play:hover{
	opacity:1;
}	

#footer {
	background: url(../images/bg_footer.png);
	width: 100%;
	height: 60px;
	position: absolute;
	bottom: 0;
	text-align: left;
}

#footerContent {
	width: 1140px;
	margin: 0 auto;
	color: #fff;
}

#footerContent .copy,#footerContent .dev {
	font-weight: bold;
	margin-left: 8px;
}

#footerContent .dev {
	float: right;
}

#footerContent #mainmenu ul {
	margin: 10px 0 5px;
}

#footerContent #mainmenu ul li {
	display: inline;
}

#footerContent #mainmenu ul li a {
	color: #ffffff;
	background-color: transparent;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	padding: 5px 8px;
}

#footerContent #mainmenu ul li a:hover,#footerContent #mainmenu ul li.active a
	{
	color: #FFA300;
	text-decoration: none;
}

.content .full {
	width: 100%;
}

.content .full h3 {
	width: 90%;
}