#page {
    padding-top: 0px;
}

#loginForm{
	position:absolute;
	height:auto;
	top:40%;
	left:36%;	
}

#loginForm .form-horizontal .control-label {
	width: 80px;
	text-align: right;
	margin: 0;
}

#loginForm .row{
	margin: 0;
}

#loginForm .form-horizontal .controls {
	margin-left: 85px;
}

#loginForm .btn-primary{
	float: right;
}

#loginForm .seguraBtLogin{
	background-color: blue;
	width: 304px;
}

.form-btn{ margin: 10px 0 0 0;}
.search-form ul{ float:left; margin-right: 10px;}
.search-form form{ padding-top:2px;}
.search-form input{ margin-right: 2px;}

#footer{
	width: 99%;
	height: 40px;
	background-color: #f5f5f5;
	position: fixed;
	bottom: 0;
	font-size: 10px;
	text-align: right;
	padding-right: 1%;
}

.clear{
	margin-top: 50px;
	float: left;
}

.grid-view{
	padding-top: 0px !important;
}